<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
-->
<!doctype html>
<html lang="en">

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Satisfacción de Usuarios</title>
<style type="text/css">
body {
	margin-top: 5px;
	/*background-color: #F0F0F0;*/
        background-color: white;
}

</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/era/estilo.css" />

<!--
 <=javascript_include_tag "green/style.css"%>
-->
<!-- formee -->

<%#=javascript_include_tag "formee/jquery-1.10.1.min.js" %>
<%=javascript_include_tag "formee/formee.js" %>

<%#=javascript_include_tag "validate/jquery-1.3.2.js" %>
<%=javascript_include_tag :defaults %>

<%= stylesheet_link_tag "formee/formee-structure.css" %>
<%= stylesheet_link_tag "formee/formee-style.css" %>


<script type="text/javascript">jQuery.noConflict();</script>
</head>

<body>
  <table>
    <tr>
         <td colspan="3">
            <%if flash[:notice]%>
            <div class="formee-msg-success">
              <h3>Operación realizada exitosamente:</h3>
              <ul>
                <li><%=flash[:notice]%></li>
              </ul>
            </div>
            <%elsif flash[:error]%>
            <div class="formee-msg-error">
              <h3>Error:</h3>
              <ul>
                <li><%=flash[:error]%></li>
              </ul>
            </div>
            <%else%>
            <%#*<p></p>%>
            <%end%>

            <%=yield%>

          </td>
    </tr>
  </table>
</body>


</html>